BasedOnStyle: WebKit
IndentWidth: 2
AlignAfterOpenBracket: AlwaysBreak
AllowAllParametersOfDeclarationOnNextLine: true
ColumnLimit: 100
PointerAlignment: Middle
BinPackParameters: false
BinPackArguments: false
AlwaysBreakTemplateDeclarations: Yes
SpaceBeforeAssignmentOperators: true
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: Always
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: true
SpaceAfterLogicalNot: true
Cpp11BracedListStyle: false